<!-- The template to display files available for download -->
<script id="template-download-<%= field.klass %>" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="attach_item template-download">
		<div class="delete">
		  <a href="/" class="del_btn" data-type="DELETE" data-url="/uploader/attachments/{%=file.id%}?klass=<%= field.klass %>"></a>
		</div>
		<div class="thumbnail preview">
		  <a href="{%=file.url%}"><img src="{%=file.thumb_url%}" title="{%=file.filename%}" rel="gallery"></a>
		</div>
		<div class="infoHolder">
			<div class="fileName">{%=file.filename%}</div>
			<div class="fileWeight">{%=o.formatFileSize(file.size)%}</div>
		</div>
	</div>
{% } %}
</script>
