<script id="template-upload-<%= field.klass %>" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="attach_item loading template-upload">
		<div class="buttons-panel"><a href="#" class="del_btn cancel"></a></div>
		<div class="thumbnail preview"><img class="preloader" src="/assets/uploader/preloader.gif" alt="preloader" /></div>
		<div class="infoHolder">
			<div class="fileName">{%=file.name%}</div>
			<div class="fileWeight">{%=o.formatFileSize(file.size)%}</div>
			<div class="progressBar progress"><div class="bar fill" style="width: 0%;"></div></div>
		</div>
	</div>
{% } %}
</script>
